<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Message Board</title>
    </head>

    <body>
        <div class="header">
            <h1>Message Board</h1>
            <a href="/post">Post</a>
        </div>

        <% for(var i = comments.length-1; i>= 0; i--){ %>
        <table>
            <tr>
                <td><%= comments[i].userId %></td>
                <td><a href="/show/<%= comments[i].userId%>"><%= comments[i].userName%></a></td>
                <td><%= comments[i].comment%></td>
                <td><%= comments[i].updatedAt%></td>
                <td><a href="/destroy/<%= comments[i].user_id %>">Delete</a></td>
            </tr>
        </table>
        <% } %>
    </body>
</html>
